*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
img{
  border-radius: 0.5rem;
}